.page-header {
	@include border;
	padding-top: 20px;
	padding-bottom: 20px;
	

	&__logo {
		height: 22px;
		width: 75px;
		float: left;
	}
	&__wrapper {
		@include container;
	}

	@include tablet-widths {
		padding-top: 27px;
		padding-bottom: 43px;
	
		&__logo {
			width: 147px;
  			height: 40px;
	}
}

	@include tablet-widths {
		padding-top: 45px;
		padding-bottom: 45px;
	}
	
}

