.banner {
	@include border;
	background-color: $dark;
	padding-bottom: 35px;
	@include mobile-widths {
		height: 720px;
	}
	&__wrapper {
		@include container;
	}
	&__main-photo {
		height: 392px;
		margin-bottom: 28px;
	}
	&__download {
		text-align: center;
	}
}
