.block {
	@include border;
	padding-top: 56px;
	padding-bottom: 56px;
	text-align: center;

	&__text {
		margin: 0;
	}

	&__wrapper {
		@include container;
	}
	&--photo-page {
		padding-top: 100px;
		padding-bottom: 80px;
	}
}
